body {
    background: white
}

.margin-top {
    margin-top: 60px;
}
.text-center {
    text-align: center;
}
.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}

.tt-suggestion:hover {
    color: #f0f0f0;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}
.loading {
    opacity: 0;
    position: absolute;
    width: calc(100% - 30px);
    height: 0;
    background: #FFF;
    border: 1px solid #CCC;
    transition: all .3s ease-in-out;
}
.loading .spinner {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border-radius: 50%;
    background-color: #0097cf;
    width: 20px;
    height: 20px;
    animation: loadAnimation 1s infinite ease-in-out;
    transition: all .3s ease-in-out;
}
.tt-loading + .dropdown-menu + .loading {
    opacity: 1;
    height: 80px;
    transition: all .3s ease-in-out;
}
.tt-loading + .dropdown-menu + .loading .spinner {
    top: 30px;
    transition: all .3s ease-in-out;
}

@keyframes loadAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }
    25% {
        transform: translateX(-50%) scale(0.6);
    }
    75% {
        transform: translateX(-50%) scale(0.6);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}
